/** PAB - Styling */
.fire-mpp-productlist {
	width: 100%;
    display: block;
    margin: 2% auto;
}
.fire-mpp-productlist .heading {
  width:100%;
  margin: auto;
}
.fire-mpp-productlist .product-container {
  display: inline-block;
  width: 90%; 
  height: 350px;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.1); 
}
.fire-mpp-productlist .image-container {
 	display: block; 
    height: 65%;
  	width: 80%;
    margin: 0 auto;
   text-align: center;
   position: relative;
}
.fire-mpp-productlist .image-container img {
  max-width: 100%;
  width: auto !important;
  height: auto;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.fire-mpp-productlist h4 {
  	margin: 3%;
    text-align: left;
    position: relative;
}
.fire-mpp-productlist .money {
  margin: 3%;
}
.fire-mpp-productlist .owl-controls{
    position: absolute;
    width: 98% !important; /* adjust if necessary */
    top: 50% !important; /* adjust if necessary */
} 	
.fire-mpp-productlist .owl-prev{ /* left arrow */
    float: left;
  color: rgba(0,0,0,0.6);
    font-size: 30px;
} 
.fire-mpp-productlist .owl-next{ /* right arrow */
    float: right;
   color: rgba(0,0,0,0.6);
    font-size: 30px;
}
.fire-mpp-productlist .fire-cart-button {
 	display: block;
  	margin: 0 auto;
}
  
/**  PAB - styling */
..fire-pab-productlist {
	width: 100%;
    display: block;
    margin: 2% auto;
}
.fire-pab-productlist .heading {
  width:100%;
  margin: auto;
}
.fire-pab-productlist .product-container {
  display: inline-block;
  width: 90%; 
  height: 350px;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.1); 
}
.fire-pab-productlist .image-container {
 	display: block; 
    height: 65%;
  	width: 80%;
    margin: 0 auto;
   text-align: center;
   position: relative;
}
.fire-pab-productlist .image-container img {
  max-width: 100%;
  width: auto !important;
  height: auto;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.fire-pab-productlist h4 {
  	margin: 3%;
    text-align: left;
    position: relative;
}
.fire-pab-productlist .money {
  margin: 3%;
}
.fire-pab-productlist .owl-controls{
    position: absolute;
    width: 98% !important; /* adjust if necessary */
    top: 50% !important; /* adjust if necessary */
} 	
.fire-pab-productlist .owl-prev{ /* left arrow */
    float: left;
  color: rgba(0,0,0,0.6);
    font-size: 30px;
} 
.fire-pab-productlist .owl-next{ /* right arrow */
    float: right;
   color: rgba(0,0,0,0.6);
    font-size: 30px;
}
.fire-pab-productlist .fire-cart-button {
 	display: block;
  	margin: 0 auto;
}